* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row:not(.sm, .big, .h) {
    width: 70%;
}
.row:not(.f) {
    height: 100%;
    margin: auto;
}
/*intestazione*/
.container.h {
    height: 60px;
    background-color: rgb(37,94,233);
}
.row.h {
    width: 80%;
}
.col.h.left, .col.h.right {
    width: 20%;
}
.col.h.medium {
    width: 60%;
    text-align: center;
    
}
.col.h.right {
    text-align: right;
}
.col.h {
    height: 60px;
    align-self: center;
}
.logo {
    vertical-align: middle;
}
.content.h.m {
    display: flex;
    justify-content: space-around;
}
.content.h.m a {
    color: white;
}
li {
    list-style: none;
    display: inline-block;
    flex-direction: row;
    text-align: center;
}
a {
    text-decoration: none;
}
.content.h {
    line-height: 58px;
}
.content.h.left, .content.h.right {
    padding: 0px 10px;
}
a:not(li a) {
    background-color: white;
    border-radius: 40px;
    padding: 15px;
}
.container.sm, .item1, .item2, .item3, .item4-big {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*layout singolo piccolo*/
.container.sm {
    background-image: url(../img/jumbo.png);
    height: 500px;
}
.col.sm {
    width: 70%;
    height: 50%;
    margin: auto;
    text-align: center;
}
#opbrow, h1.sm, p.sm {
    color: white;
}
#opbrow {
    background-color: black;
}
h1.sm {
    margin: 30px auto;
}
p.end {
    margin-bottom: 40px;
}
p.sm {
    margin-top: 5px;
}
/*layout a 2 colonne*/
.container.two, .container.three {
    height: 600px;
}
.container.three, .container.big {
    background-color: rgb(209, 208, 208);
}
.col-70, .col-30 {
    height: 500px;
    flex-direction: row;
    align-self: center;
}
.col-70 {
    width: 70%;
}

.item4-big img {
    height: 70%;
}
.col-30 {
    width: 30%;
}
#reverse {
    flex-direction: row-reverse;
}
.content-half {
    padding: 20% 0;
}
h1.lateral {
    margin-bottom: 20%;
}
/*layout singolo grande*/
.container.big {
    height: 700px;
}
.row-big {
    width: 100%;
}
.col-big {
    width: 70%;
    height: 600px;
    margin: 50px auto;
    text-align: center;
}
.col-big h3 {
    margin-bottom: 30px;
    padding: 20px;
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
[class^="wave"] {
    width: 100%;
    filter: opacity(0.19);
}
.wave-rotate {
    transform: rotate(180deg);
}
/*layout a 5 colonne e footer*/
.container.black{
    height: 400px;
}
.black {
    background-color: black;
}
.col-large {
    width: 34%;
    border: 2px dashed white;
}
.col-sm {
    width: calc(33% / 2);
    background-color: rgb(2, 151, 131);
    border: 2px dashed white;
}
.row.five div {
    padding: 170px 0;
    margin-bottom: 30px;
    flex-direction: row;
    align-self: center;
}
main {
    border-bottom: 4px solid lightgray;
}
footer {
    border-bottom: 2px solid lightgray;
}
.container.f {
    height: 80px;
    display: flex;
    align-items: flex-end;
}
.row.f {
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    justify-content: space-between;
}
[class^="col-f"] {
    align-self: center;
    height: 50%;
    background-color: lightgray;
    border: 2px dashed black;
}
[class^="content-f"] {
    padding: 5px 10px;
}